body{
	margin:0px;
	background: #E5E5E5;
	overflow-x:hidden;
}

p, h1, a{
	margin:0px;
}

.sticky{
	position: sticky;
	z-index: 1;
	top: 0px;
	max-width: auto;
	height: 120px;
	background: #E5E5E5;
}

.header{
	width: 1265px;
	height: 116px;
	display: flex;
	justify-content: space-between;
    margin: 4px 87px 0px 87px;
}

.logo-mariela{
	margin:33px 0 0 25px;
}

.links{
	margin:46px 52px 0 0px;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Cormorant Garamond';
	font-size:24px;
	line-height: 30px;
	color: #B08EAD;
}

.intro{
  height: 817px;
  background: linear-gradient( #C9ADC6 60%, #D6BBD3 40%);
}
.in-intro{
	display: flex;
	position: relative;
}

.intro-img{
	margin: 72px 0 0 178px;
}

.intro-square{
	position: relative;
	top: 182px;
	right: 113px;
	width: 425px;
	height: 450px;
	background: #B08EAD;
}

.intro-square div{
	width: 280px;
	height: 202px;
	margin:124px 104px 124px 40px;
}

.intro-square p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.intro-square h1{
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 55px;
	color: #FFFFFF;
}

.intro-square a{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.some-information{
	display: flex;
	justify-content: center;
	align-items: center;
}

.some-information div{
	width: 789px;
	height: 181px;
	margin: 75px 0 0 0;
}

.some-information h6{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #B99BB6;
}

.sub-text{
	margin:13px 0 0 0;
	font-family: 'Cormorant Garamond';
	font-size: 26px;
	line-height: 38px;
	text-align: center;
	color: #5F4D5D;
}

.learn-more{
	display: inline-block;
	width: 141px;
	height: 45px;
	font-family: 'Roboto';
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border: 1px solid #B99BB6;
	border-radius: 25px;
	margin:17px 0 0 324px;
	cursor: pointer;
	text-decoration: none;
	color: #B99BB6;
}

.learn-more p {
	margin: 16px 0 0 0;
	text-align: center;	

}